.link {
    color: antiquewhite;
     }

.title {
    color: antiquewhite;
    text-align: center;
    font-size: 500%

}

.background {
    background-image: url('./images/planet-earth-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h2 {
    color: red;
    text-align: center;
    font-size: 200%;
}

.link-align {
    text-align: center;
}

.enter-link {
    color: antiquewhite;
    text-align: center;
    font-size: 250%;
}
body, html {
    height: 100%;
}