.link {
    color: antiquewhite;
     }

.title {
    color: antiquewhite;
    text-align: center;
    font-size: 500%

}

.background {
    background-image: url(/images/planet-earth-background.jpg);
    background-repeat: no-repeat;
}

.h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 200%;
}

.link-align {
    text-align: center;
}

.enter-link {
    color: rgb(139, 50, 50);
    text-align: center;
    font-size: 250%;
}