.background {
  background-color: cadetblue;
}

body {
  background-color: cadetblue;
}

.link-container {
  text-align: center;
}

.link {
  color: whitesmoke;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
