.background {
  background-color: cadetblue;
}

.link {
  color: black;
}

.title {
  color: whitesmoke;
  text-decoration: underline;

  text-align: center;
  font-size: 4rem;
}

.list1 {
  color: black;
  font-weight: bold;
}
